<style>
  .white {
    background: white;
  }
</style>
<h2>Parallax</h2>
<p>
  Utilising <em>Rellax</em> library under the hood, wu-parallax gives you a simple way to create parallax sections on a
  page.
</p>
<wu-parallax speed="-6" img-src="http://prototype.cordelta.digital/_assets/img/bg.jpg" style="height: 600px">
  <wu-card theme="light">
    <h4>Hello World</h4>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius consectetur quis unde iste nesciunt placeat vitae
      culpa labore! Deserunt fugiat praesentium, itaque expedita odit nobis officia. Pariatur culpa est dolore?
    </p>
  </wu-card>
</wu-parallax>

<div class="white">
  <h2>Lorem.</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut culpa incidunt voluptates fugit! Maiores natus ea non
    nulla fugiat doloribus, quod voluptatem minima, quis ipsam incidunt reiciendis pariatur a nesciunt veritatis totam
    sint labore cum! Suscipit, tenetur ipsa harum nam quae, mollitia maxime inventore aliquid animi, quo ea provident
    ullam hic! Sit numquam ducimus modi officia! Cumque dolorem magnam corrupti molestiae consectetur accusamus quam
    repellendus in ullam. Itaque velit vitae facere nesciunt amet, a corporis nulla? Soluta in qui sunt delectus ullam
    quam possimus animi minus neque. Omnis, facilis ipsam? Ipsum, qui consequatur placeat est illo, soluta incidunt amet
    non facere quibusdam laudantium recusandae possimus sapiente fuga, optio error veritatis cupiditate sed at ratione
    animi laborum rem. Fugiat quia tenetur, eum officiis tempora nesciunt, illum ab illo ex architecto placeat alias eos
    nobis voluptates vero labore incidunt. Debitis at iusto placeat qui atque distinctio id sit architecto odit.
    Necessitatibus asperiores repellendus unde possimus dolores facilis sapiente minima quam, repellat, nesciunt vel,
    impedit sequi saepe? Veritatis ea voluptates quam quasi, vero natus ut accusamus esse est maiores ratione saepe
    voluptate maxime dolores doloremque exercitationem error cumque officiis officia unde quibusdam odio rerum
    voluptatibus. Quo vero vel illum? Est voluptatum eaque minima?
  </p>
  <h2>Saepe.</h2>
  <p>
    Nobis eius corrupti voluptas magni a reprehenderit nisi explicabo laudantium at culpa quasi quisquam praesentium ad
    aspernatur, ullam optio ex! Quia ex doloremque fugiat veritatis. A laudantium voluptatum reprehenderit, mollitia
    voluptates quo dolore. Veniam ratione sed est quos aut in inventore odit? Cupiditate, sed delectus. Repellat vero
    hic harum tempore esse quod numquam aliquam? Doloribus ab sit ducimus asperiores, obcaecati quisquam excepturi
    consequatur accusantium ratione, repellat beatae veritatis rerum! Culpa necessitatibus accusantium, commodi
    deleniti, sint, iusto possimus atque impedit voluptatibus tempore facere quisquam corrupti animi expedita laborum
    vero voluptatum natus! Corporis veniam ipsum delectus nulla! Veniam obcaecati molestiae facere harum, enim quis
    eaque deserunt repellat, sunt culpa qui odit porro asperiores excepturi provident doloremque, sed esse sequi animi
    reiciendis voluptas molestias officia. Consequuntur rerum ratione reiciendis, optio eius modi vitae, enim maiores
    omnis delectus repudiandae aliquid velit deserunt eveniet saepe. Voluptates adipisci quidem praesentium commodi
    voluptatibus dignissimos incidunt? Nesciunt distinctio laudantium at qui aut eveniet laborum unde ab, voluptates
    facere exercitationem et possimus rerum dolorem blanditiis! Quo expedita deleniti porro voluptatem ullam laborum ex
    nemo! Sit quia debitis dicta provident dolorem! Corrupti, facere obcaecati! Asperiores alias dicta maiores, ut eum
    architecto est veritatis odio voluptate ipsum? Ratione iure temporibus eos!
  </p>
</div>
<wu-parallax speed="-6" img-src="http://prototype.cordelta.digital/_assets/img/bg.jpg" style="height: 600px">
  <wu-card theme="light">
    <h4>Hello World</h4>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius consectetur quis unde iste nesciunt placeat vitae
      culpa labore! Deserunt fugiat praesentium, itaque expedita odit nobis officia. Pariatur culpa est dolore?
    </p>
  </wu-card>
</wu-parallax>
<div class="white">
  <h2>Eaque.</h2>
  <p>
    Voluptatum repudiandae at minus ad expedita adipisci velit? Commodi eum perspiciatis pariatur nesciunt veritatis
    itaque cupiditate doloremque, odio minima at sit! Eaque delectus laudantium aperiam odio, rem excepturi obcaecati
    perferendis odit nisi assumenda ipsum doloremque, consectetur sequi voluptates possimus! Impedit eveniet ullam, vero
    vel, reprehenderit fugiat ut adipisci nobis animi illum fuga, minima praesentium vitae unde ipsa magnam doloribus
    eum cupiditate nemo! Molestiae id veritatis quae debitis optio sed consectetur deserunt numquam ipsum, unde vel at
    labore modi? Laudantium maxime repellat excepturi iusto numquam, sed facilis a aliquid! Voluptate quisquam quibusdam
    distinctio amet blanditiis velit aliquam nulla impedit, praesentium alias cupiditate nostrum rerum, inventore
    facilis autem. Repellat laudantium et dolorum reiciendis obcaecati, odit quo quia minus tenetur recusandae dicta
    minima quibusdam eligendi dolores ducimus consectetur a dolor exercitationem nobis aliquam nulla. Enim ducimus
    voluptas officiis vero sunt, alias tempore nihil libero, accusantium at commodi explicabo hic quos est? Quidem
    minima consectetur odit facere autem accusantium deserunt officia voluptatum minus fugit impedit, ex dolores harum a
    doloribus aut? Voluptatum nihil voluptatibus quidem commodi tempore dolorem neque quod natus vel quam, reiciendis
    iure ipsam facere ea ducimus ex voluptates exercitationem accusamus! Cum architecto fuga magni optio officia
    praesentium voluptate ipsum dolorum sequi.
  </p>
  <h2>Quam.</h2>
  <p>
    Nisi iste tempora quibusdam totam officia ipsa, animi ullam molestias, reprehenderit odit vel repellendus debitis
    fuga, eveniet rerum fugit? Ducimus nobis quis similique quo totam iure est neque veritatis, molestiae sunt
    doloremque excepturi explicabo illo, aliquam ipsam necessitatibus voluptate incidunt, dignissimos ex architecto esse
    perspiciatis enim! Repellat, magnam in? Eveniet numquam hic asperiores, quos ab expedita neque repellendus quas
    deleniti non quisquam dignissimos eligendi molestiae consectetur animi, modi ratione fuga minima debitis sapiente
    labore consequatur atque? Necessitatibus, saepe tenetur quasi dolorem ad excepturi neque distinctio blanditiis
    eligendi, incidunt laborum quibusdam. Dolor perspiciatis sint delectus ab quo quidem enim molestiae excepturi
    doloribus. Nesciunt totam corrupti sunt voluptatum asperiores repellendus deserunt repellat nulla aspernatur
    pariatur aut accusamus et laborum, commodi iusto quos cum, incidunt, eveniet consequuntur obcaecati fugiat dolorem
    libero? Architecto harum doloremque dignissimos sint sit, vero fugit tenetur quas ab molestias maiores debitis totam
    maxime consequuntur minus? Quas mollitia quidem vel nulla commodi quis repellendus est eius maiores. Optio assumenda
    nam beatae at ducimus maiores ratione. Amet odio aliquid dolorem natus, hic eveniet debitis et sit consequuntur
    tempora harum ab assumenda laborum. Eius reprehenderit quasi ipsam nam, earum quam dolores deleniti adipisci autem.
    Fugit deleniti corporis praesentium quasi atque voluptas eum.
  </p>
</div>
