.fade-in {
  -webkit-animation: fade-in var(--slow);
  animation: fade-in var(--slow);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.grid-docs {
  wu-col {
    background: var(--color-primary);
    color: var(--color-primary-contrast);
    border-radius: 5px;
    wu-col {
      background: var(--color-success);
      color: var(--color-success-contrast);
    }
  }
}
